.header{
	background-image: url("../graphics/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

@media only screen and (min-width : 576px){	
}

@media only screen and (min-width : 768px){	
}

@media only screen and (min-width : 992px){	
}
 
@media only screen and (min-width : 1200px){
}

@media screen and (min-width: 1900px) {
	
}

